body{
    background-color: #f5ebdc;
}

#Menu{
    background-color: #efe0cc;
    padding: 0.5% 1% ;
    position: sticky;
    top:0;
    border-radius: 1em;
    z-index: 1;
    box-shadow: 3px 3px 20px #57200c;
}

#Menu a{ 
    color: #f5ebdc ;
    text-decoration: none;
}

#KEKO{
    font-family: omegle;
    font-size: 3em;
    -webkit-text-stroke: 1px #f5ebdc;
    color: #502314;
    display: inline;
}

#slogan{
    margin-left: 45%;
    display: inline;
    font-size: 2em;
    font-family: cooper std;
    color: #502314;
}

#exp{
    color: #502314;
}

.inline{
    display: inline;
}

.butt{
    margin: 1% 1% 0%;
    padding: 0.5%;
    border-radius: 5em;
    height: 2.5em;
    width: 7em;
    text-align: center;
    cursor:  pointer;
    font-family: cooper std;
  
}

.butt-menu{
    margin: 1% 1% 0%;
    padding: 0.5%;
    border-radius: 5em;
    height: 3.5em;
    width: 8em;
    text-align: center;
    cursor:  pointer;
    background-color: #502314;
    color: #f5ebdc;
    border: #502314;
    font-family: cooper std;
}

.borrar{
    background-color: #d72300;
    color: #f5ebdc;
    border: #d72300;
}

.enviar{
    background-color: #fa9705;
    color: #f5ebdc;
    border: #fa9705;
}

#exp{
    font-size: 1.5em;
    padding: 1% 1% 0%;
    margin: 1% 1% 0%;
    font-family: cooper std;
}

#ingredientes{
    font-family: cooper std;
    background-color: #efe0cc;
    display: block;
    font-size: 1em;
    border-radius: 1em;
    padding: 1%;
    margin: 1% 1% 0%;
    height: 100%;
    column-width: 10em;
    column-rule: 1px solid #57200c;
}

.ingreso-ing{
    display: inline-block;
    color: #502314;
}

.checkbox{
    size: 2em;
}


#encuesta-container{
    display: flex;
    border-radius: 1em;
    padding: 1%;
    margin: 1% 1% 0%;
    background-color: #efe0cc;
}

.presentacion{
    margin: 1em;
    padding: 1em;
    font-size: 1.2em;
    width: 50%;
    height: 100%;
    display: inline-block;
    
}

#mejores-container{
    margin: 1% 1% 0%;
}

.titulitos{  
    margin: 0em;
    font-size: 2em;
    font-family: cooper std;
    color: #502314;
}
.mejores-recetas{
    font-size: 20px;
    background-color: #efe0cc;
    height: 20em;
    border-radius: 30px;
    margin: 2em;
}

.nom-rece{
    margin: 0;
    font-size: 1.5em;
    color: #502314;
    font-family: cooper std ;
    padding: 1em;
}

#encuesta{
    margin: 1em;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    width: 50%;
}

#textarea{
    resize:none;
}

.preguntas{
    margin-left: 1em;
}